@media print{
  container {
    width: 8.5in;
    height: 11in;
  }
  input {
       border: none;
 }
}


#container {
  margin: auto;
  padding: 0 20px;
  width: 8.5in;
}

#header {
     width: 100%;
}

.logo {
  background-image: url("CADCUTlogo_RGB.jpg");
  background-size: cover;
  width: 307px;
  height: 90px;
  display: inline-block;
}

.contact {
     display: inline-block;
     vertical-align: top;
     text-align: right;
     float: right;
}

#address-bar {
     text-align: center;
}

.location {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  margin-bottom: 10px;
  width: 30%;

}

h3, p {
  margin-bottom: -10px;
}

#quote-grid {
  margin: 20px 0;
}

.title {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.sub-title {
     display: inline-block;
     width: 32%;
     vertical-align: bottom;
}

.title > h2 {
     background-color: lightgray;
     padding: 7px 10px;
     border-radius: 30px;
     margin: 0 0 -7px 0;
     color: #000;;
}

.title > h3 {
     font-weight: normal;
}

#quote-body {
     padding: 0 10px;
}

#quote-head {
     border: 1px solid #000;
     border-radius: 5px;
     margin: 10px 20px;
     padding: 3px;
}

#header-input {
     width: 99%;
     resize: none;
     border: none;
     font-size: 12pt;
     font-family: "Times New Roman", Times, serif;
}

#quote-grid {
     border: 1px solid #000;
     border-radius: 5px;
     margin: 0 20px;
     padding: 5px 10px;
}

.quote-table {
     width: 100%;
     text-align: center;
}

.left {
     text-align: left;
}
