

#container {
    margin: auto;
    padding: 0 20px;
    width: 8.5in;
}

#header {
    width: 100%;
}

.logo {
    background-image: url("CADCUTlogo_RGB.jpg");
    background-size: cover;
    width: 307px;
    height: 90px;
    display: inline-block;
}

.contact {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    float: right;
}

.address-bar {
    text-align: center;
}

.location {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    width: 30%;
}

h3, p{
    margin-bottom: -10px;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#quote-heading-title {
    margin: 20px 0 20px 0;
    width: 100%;
    text-align: center;
}

.sub-heading {
    display: inline-block;
    width: 32%;
    vertical-align: bottom;
}

#quote-heading-title > h2 {
    background-color: lightgray;
    padding: 7px 10px;
    border-radius: 30px;
    margin: 0 0 -7px 0;
    color: #000;
}

#quote-heading {
    width: 100%;
    display: table;
    border-spacing: 10px 0;
    margin-bottom: 10px;
}

#customer-address {
    display: table-cell;
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 2px;
    padding: 20px;
}

#customer-address > input {
    text-align: left;
    margin-left: 20px;
}

#valid-dates {
    display: table-cell;
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
}

#quote-comments {
    margin: auto;
    margin: 0 10px;;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#quote-comments textarea {
    padding: 10px 10px;
    width: 752px;
    resize: vertical;
}

#quote-grid {
    text-align: center;
    overflow: auto;
}

#quote-grid table {
    border-spacing: 0px;
    margin-bottom: 10px;
}

#quote-grid tr {
    border-radius: 10px;
}

#quote-grid th {
    background-color: lightgray;
    border: 2px solid lightgray;
}

#quote-grid p {
    padding: 0;
    margin: 0;
}

.quote-line {
    overflow: auto;
    page-break-inside: avoid;
}

.pnum-line-table {
    width: 100%;
}

.line-comment {
    margin-left: 38px;
}

.line-comment textarea {
    text-align: left;
    width: 740px;
    padding: 10px 10px;
}

.qty-line {
    display: table;
    width: 100%;
}

.qty-line-left {
    display: table-cell;
    width: 40%;
}

.qty-line-right {
    display: table-cell;
    width: 60%;
}

.qty-line-table {
    width: 100%;
    margin-top: 10px;
}

.qty-input {
    width: 60px;
}

.quote-line-controls {
    margin: 0 0 20px 0;;
}

#add_row {
    text-align: center;
}

#row-controls {
    margin-top: 20px;
    text-align: center;
}

/* PRINT MEDIA CONTROLS */

@media print{
    container {
        width: 8.5in;
        height: 11in;
    }
    input, textarea{
        border: none;
    }
    textarea {
        resize: none;
    }

    ::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
        color: transparent;
    }

    button, a {
        visibility: hidden;
    }
}
