body {
    font-family: "Times New Roman", Times, serif;
    counter-increment: page;
}

h3, p{
    margin-bottom: -10px;
}

input{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
}

select {
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
}

textarea {
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-color: lightgray;
}

#container {
    margin: auto;
    padding: 0 20px;
    width: 8.5in;
}

#header {
    width: 100%;
}

#logo {
    background-image: url('CADCUTlogo_RGB.jpg');
    background-size: cover;
    width: 307px;
    height: 90px;
    display: inline-block;
}

.contact {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    float: right;
}

.address-bar {
    text-align: center;
}

.location {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
    width: 30%;
}

#quote-heading-title {
    margin: 20px 0 10px 0;
    width: 100%;
    text-align: center;
}

.sub-heading {
    display: inline-block;
    width: 32%;
    vertical-align: bottom;
}

#quote-heading-title h3 {
    font-size: 16px;
}

#quote-heading-title > h2 {
    background-color: lightgray;
    padding: 7px 10px;
    border-radius: 30px;
    margin: 0 0 -7px 0;
    color: #000;
}

#quote-number {
    width: 100px;
}

#rev {
    width: 50px;
}

#quote-heading {
  width: 100%;
  display: table;
  border-spacing: 10px;
}

#customer-address > input {
    width: 300px;
    text-align: left;
    margin: 1px;
}

#valid-dates {
  display: table-cell;
  width: 49%;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: right;
  padding: 5px;
  padding-right: 20px;
}

#valid-dates-form select{
    margin-bottom: 10px;
}

#lead-time {
    margin: auto;
}

#lead-time-input {
    width: 20px;
}

#customer-address {
    display: table-cell;
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 2px;
    padding: 10px;
}

#customer-address > input {
    text-align: left;
    margin-left: 20px;
}

#quote-comments {
    margin: auto;
    margin: 0 10px 10px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px;
}

#quote-comments textarea {
    padding: 10px 10px;
    width: 752px;
    resize: vertical;
}

#quote-grid {
    text-align: center;
    overflow: auto;
}

#quote-grid table {
    border-spacing: 0px;
}

#quote-grid tr {
    border-radius: 10px;
}

#quote-grid thead {
    font-weight: bolder;
    background-color: lightgray;
    border: 2px solid lightgray;
}

#quote-grid p {
    padding: 0;
    margin: 0;
}

/* LINE STYLES */

.quote-line {
    overflow: auto;
    page-break-inside: avoid;
}

.pnum-line-table {
    width: 100%;
}

.our-part {
    text-align: left;
    margin-left: 59px;
}

.our-part input[name=ourPart] {
    margin-right: 20px;
}

.our-part input[name=ourRev] {
    width: 50px;
}

.line-comment {
    margin-left: 41px;
}

.line-comment textarea {
    text-align: left;
    width: 718px;
    padding: 10px 10px;
}

.qty-line {
    margin-top: -10px;
    display: table;
    width: 100%;
}

.qty-line-left {
    display: table-cell;
    width: 40%;
}

.qty-line-right {
    display: table-cell;
    width: 60%;
}

.qty-line-table {
    width: 100%;
    margin-top: 10px;
}

.qty-input {
    width: 60px;
}

.quote-line-controls {
    text-align: right;
    padding: 10px;
    margin: 0 0 10px 0;
}

#add_row {
    text-align: center;
}

#quote-controls {
    margin: 10px;
    text-align: center;
}

#footer {
    margin: auto;
    bottom: 10px;
    text-align: center;
    padding: 5px;
}

#footer p {
    margin: 5px 0;
    padding: 0;
    font-size: 11px;
    text-align: justify;
}

#footer #iso {
    text-align: center;
}

/* PRINT MEDIA CONTROLS */

@media print{

    container {
        width: 8.5in;
        height: 11in;
    }

    input, textarea{
        border: none;
    }
    select {
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
    }
    textarea {
        resize: none;
    }

    ::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
        color: transparent;
    }

    button, a {
        visibility: hidden;
    }

    #add_row {
        visibility: collapse;
    }

    #quote-controls, .quote-line-controls{
        visibility: collapse;
    }

    #footer {
        position: absolute;
        bottom: 0px;
        page-break-inside: avoid;
    }

}
